footer{
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-align: center;
    padding-top: var(--spacing-md) ;
    padding-bottom: 70px;


    .info_footer{
        display: flex;
        padding:var(--spacing-xl) 0;
        justify-content: center;



        aside{
            margin: 0 var(--spacing-lg);
        }


    }

    .first_aside{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        text-align: start;


        .icons{

            display: flex;
            align-items: flex-start;
            justify-content: center;
            img{
                margin: var(--spacing-sm);
            }
        }

       p{
           font-size: 1rem;
           width: 399px;
           line-height: 135%;
           letter-spacing: -0.04em;
       }

    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    li{
        color: #BBC8EB;
        padding: 0;
    }

    p, h3{
        margin: 0;
        color: var(--color-white);
    }


    span{
        color: #BBC8EB;

    }

    h3{
        margin-bottom: var(--spacing-md);
    }



}

@media screen and (max-width: $breakpoint-sm) {
    footer{

    }
}
