header{
    margin: var(--spacing-md2) 0;

    img{
        max-width: 100%;
    }


    .menu{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            align-items: center;

            .connect{
                font-weight: 600;
                color: #081946;
                font-size: 1rem;
            }

            li{
                font-weight: 500;
                font-size: 1rem;
                color: #81848D;

            }

            a{
                padding: 0 var(--spacing-sm);
            }
        }

        .btn_header{
            padding: var(--spacing-md) var(--spacing-sm);
            background-color: var(--color-button-header);
            color: var(--color-white);
            border-radius: 12px;
        }
    }

}

@media screen and (max-width: $breakpoint-sm) {
header{
    .menu{
        display: block;
    }
    .wrapper{
        ul{
            display: none;
        }
    }
}

}
