.témoignage{
    background-color: var(--color-white);
    padding-bottom: 120px;

    .wrapper{


        .surtitre{
            background: rgba(38,37,191,0.1);
            border-radius: 24px;
            font-size: 1rem;
            display: inline-block;
            padding: 10px var(--spacing-sm);
            color: #2625BF;
            margin-top: 80px;
        }

        .en-tête{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-témoignage  {
            text-align: center;
            background: linear-gradient(106.32deg, #1A21BC -10.7%, #8B38DD 104.24%);
            border-radius: 12px;
            padding: 24px 32px;
            color: var(--color-white);
            display: inline-block;

            img{
                width: 7%;
                margin: 0 var(--spacing-sm);
            }
        }

        .btn-témoignage-2{
            text-align: center;
            background: linear-gradient(106.32deg, #1A21BC -10.7%, #8B38DD 104.24%);
            border-radius: 12px;
            padding: 24px 32px;
            color: var(--color-white);
            display: none;
        }
        .cards{
            display: flex;

            .card{
                display: flex;
                padding: 40px;
                box-shadow: 0 8px 24px rgba(0, 13, 81, 0.08);
                margin: var(--spacing-md2) var(--spacing-sm);
                border-radius: 12px;
                .content_card{
                    margin: 0 var(--spacing-md2)
                }





            }

        }

    }
}
