/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --font-size-content: 1.125rem;

    /// Grosseur des textes
    --font-size-h1: 6rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}
